Repository Megumikawa/121-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-121, @global-121/510, @global-121/510/front-end, @global-121/510/back-end

.github/CODEOWNERS:

# Overall, generic
# ----------------
* @global-121
/*.md @global-121/510


# Interfaces
# ----------
/interfaces/ @global-121/510/front-end


# Services
# --------
/services/121-service/ @global-121/510/back-end
/services/PA-account-service/ @global-121/510/back-end


# Tools
# -----------------
/tools/ @global-121/510
/tools/git-hooks/ @global-121

WIP: Small refactorings for voucher/payment-status-popup
  interfaces/HO-Portal/src/app/program/payment-status-popup/payment-status-popup.component.html
  interfaces/HO-Portal/src/app/program/payment-status-popup/payment-status-popup.component.ts
  interfaces/HO-Portal/src/app/program/program-people-affected/program-people-affected.component.ts
Owners: @global-121/510/front-end

AB#1196 AB#1197 Send whatsapp generic template and message
  services/121-service/migration/1639408779321-pending-whatsapp.ts
  services/121-service/src/notifications/whatsapp/whatsapp-generic-message.json
  services/121-service/src/notifications/whatsapp/whatsapp-pending-message.entity.ts
  services/121-service/src/notifications/whatsapp/whatsapp.module.ts
  services/121-service/src/notifications/whatsapp/whatsapp.service.ts
Owners: @global-121/510/back-end

AB#1195 Add switch to registration service to send sms or whatsapp
  interfaces/HO-Portal/src/app/services/programs-service-api.service.ts
  services/121-service/src/notifications/sms/sms.service.ts
  services/121-service/src/notifications/whatsapp/whatsapp.controller.ts
  services/121-service/src/registration/dto/send-custom-text.dto.ts
  services/121-service/src/registration/registration.entity.ts
  services/121-service/src/registration/registrations.controller.ts
  services/121-service/src/registration/registrations.module.ts
  services/121-service/src/registration/registrations.service.ts
Owners: @global-121/510/front-end, @global-121/510/back-end

Pa app SMS -> SMS/Whatsapp AB#11247
  interfaces/PA-App/src/assets/i18n/en.json
  interfaces/PA-App/src/assets/i18n/es.json
  interfaces/PA-App/src/assets/i18n/in.json
  interfaces/PA-App/src/assets/i18n/nl.json
  interfaces/PA-App/src/assets/i18n/pt_BR.json
  interfaces/PA-App/src/assets/i18n/saq_KE.json
  interfaces/PA-App/src/assets/i18n/tl.json
  interfaces/PA-App/src/assets/i18n/tuv_KE.json
Owners: @global-121/510/front-end

fix: mistake AB#11195
  services/121-service/src/registration/registrations.service.ts
Owners: @global-121/510/back-end

whatsappGenericMesage to notification in program objects
  services/121-service/seed-data/program/program-pilot-nl-2.json
  services/121-service/seed-data/program/program-pilot-nl.json
  services/121-service/src/notifications/whatsapp/whatsapp-generic-message.json
  services/121-service/src/notifications/whatsapp/whatsapp.module.ts
  services/121-service/src/notifications/whatsapp/whatsapp.service.ts
Owners: @global-121/510/back-end

Changelog
  CHANGELOG.md
Owners: @global-121/510

WhatsApp AB#11293
  interfaces/PA-App/src/assets/i18n/en.json
  interfaces/PA-App/src/assets/i18n/es.json
  interfaces/PA-App/src/assets/i18n/in.json
  interfaces/PA-App/src/assets/i18n/nl.json
  interfaces/PA-App/src/assets/i18n/pt_BR.json
  interfaces/PA-App/src/assets/i18n/saq_KE.json
  interfaces/PA-App/src/assets/i18n/tl.json
  interfaces/PA-App/src/assets/i18n/tuv_KE.json
Owners: @global-121/510/front-end

initial starting point
  interfaces/AW-App/src/environments/environment.ts
  interfaces/PA-App/src/app/personal-components/contact-details/contact-details.component.html
  interfaces/PA-App/src/app/personal-components/contact-details/contact-details.component.ts
  interfaces/PA-App/src/app/personal/personal.page.html
  interfaces/PA-App/src/app/personal/personal.page.ts
  interfaces/PA-App/src/environments/environment.ts
Owners: @global-121/510/front-end
